@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  
  .fade-in {
    animation-name: fade-in;
  }
  
  .slide-in-from-bottom-4 {
    animation-name: slide-in-from-bottom;
  }
}
